.hero{
	background-color: peru;
}
.container{

}
 .nav-link.border-hover {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }

  .nav-link.border-hover:hover {
    border-color: #198754; 
  }